.hide {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    width: 30%;
}

form {
    position: relative;
    width: 75%;
    margin: auto;
}

.form-control {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

form button {
    position: absolute;
    right: 5px;
    top: 0;
    outline: none;
}

form button:focus {
    outline: none;

}

.fa {
    color: green;
}

.alert {
    width: 650px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: auto;
    text-align: center;
}

.empty {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 30%;
}

.card-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.card-subtitle {
    font-size: 15px;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    font-weight: 600;
    color: gray;
    height: 115px;
    overflow: scroll;
    overflow-x: hidden;
    text-transform: capitalize;
}